@font-face{
    font-family: century_gothic;
    src: url("../fonts/century_gothic.ttf");
}
.about-us-page{
    background-image:url('../images/about/about-banner.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;   
}
.about-us-page .row .about-page-title{
    font-family: century_gothic;
    color: red;
    font-size: 8em;
    font-weight: bolder;
    text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white, 0px 1px 0 white, 0px -1px 0 white, -1px 0px 0 white, 1px 0px 0 white, 2px 2px 0 white, -2px 2px 0 white, 2px -2px 0 white, -2px -2px 0 white, 0px 2px 0 white, 0px -2px 0 white, -2px 0px 0 white, 2px 0px 0 white, 1px 2px 0 white, -1px 2px 0 white, 1px -2px 0 white, -1px -2px 0 white, 2px 1px 0 white, -2px 1px 0 white, 2px -1px 0 white, -2px -1px 0 white;
}
#about-info{
    padding:3%;
}
#about-info p,#vision p,#mision p,#links p{
    font-size: 1.5em;
}
#about-info p span{
    font-weight: bold;

}
#vision,#mision{
    text-align: center;
    padding:0 3%;
}
#links{
    padding-top: 3%;
    text-align: center;
}
#links p{
    display: inline-block;
    color:#4995ab;
}
#links p a{
    color:#1800ff;
    font-weight: bolder;
}
#links p:first-child{
    padding-right: 3%;
}
